ng/static/node_modules
ng/static/browser_components
ng/static/typings
ng/static/dist
ng/static/tmp
ng/static/app/**/*.js
ng/static/app/**/*.js.map

# e2e
ng/static/e2e/*.js
ng/static/e2e/*.map

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# misc
ng/static/.sass-cache
ng/static/connect.lock
ng/static/coverage/*
ng/static/libpeerconnection.log
npm-debug.log
testem.log
