front/node_modules
front/browser_components
front/typings
front/dist
front/tmp
front/app/**/*.js
front/app/**/*.js.map

# e2e
front/e2e/*.js
front/e2e/*.map

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# misc
front/.sass-cache
front/connect.lock
front/coverage/*
front/libpeerconnection.log
npm-debug.log
testem.log
